<div class="algorithm-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Select Cryptographic Algorithm</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="algorithmForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Text to Encrypt</mat-label>
          <input matInput formControlName="plainText" maxlength="100" placeholder="Enter text (max 100 characters)" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Encryption Key</mat-label>
          <input matInput formControlName="key" placeholder="Enter encryption key" required>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Algorithm</mat-label>
          <mat-select formControlName="algorithm" required>
            <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.value">
              {{ algorithm.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button class="encrypt-button" type="submit">Encrypt</button>

      </form>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Decrypted text</mat-label>
          <input matInput [(ngModel)]="encryptedText" disabled="!encryptedText">
        </mat-form-field>
      </div>
      <div>
        <button mat-button class="encrypt-button" (click)="showAlgorithmSimulationFileContent()">
          Show simulation history
        </button>
      </div>
    </mat-card-content>

  </mat-card>
</div>